html {
  background-color: #999;
}

body {
  font-family: Arial;
  margin: 20px;
}

#game {
    background-color: #eee;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#drop-data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed black;
}

#drop-data.hover {
    background-color: #ddd;
}

#face-game {
  display: flex;
  flex-direction: column;
}

#face-game > div {
  flex: 1 1 50%;
}

#face-game > div.chart {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.persons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.person {
  background-color: #ddd;
  padding: 10px;
  flex: 1 1 50%;
  box-sizing: border-box;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

.person .name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
}

.person.guess-correct .name {
    color: green;
}

.person.guess-wrong .name {
    color: red;
}

.face {
  flex: 1 0 auto;
  background-position: center center;
  background-size: cover;
}

.answer {
  flex: 0 0 30px;
}

.nameGuess {
  width: 100%;
}